<div
  class="container m-2 border justify-center"
  style="width: 400px; background-color: rgb(127, 187, 184)"
>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <!-- UserName -->
    <div class="row">
      <div class="form-group p-2">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          class="form-control"
          formControlName="username"
        />
        <span
          class="small"
          *ngIf="
            !signupForm.get('username').valid &&
            signupForm.get('username').touched
          "
          >Please enter a valid username</span
        >
      </div>
    </div>

    <!-- Email -->
    <div class="row">
      <div class="form-group p-2">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="form-control"
          formControlName="email"
        />
        <span
          class="small"
          *ngIf="
            !signupForm.get('email').valid && signupForm.get('email').touched
          "
          >Please enter a valid Email</span
        >
      </div>
    </div>

    <!-- Password -->
    <div class="row">
      <div class="form-group p-2">
        <label for="password">Set Password</label>
        <input
          type="text"
          id="password"
          class="form-control"
          formControlName="password"
        />
        <span
          class="small"
          *ngIf="
            !signupForm.get('password').valid &&
            signupForm.get('password').touched
          "
          >Please enter a valid Password</span
        >
      </div>
    </div>

    <!-- Age -->
    <div class="row">
      <div class="form-group p-2">
        <label for="age">Age</label>
        <input
          type="number"
          id="age"
          class="form-control"
          formControlName="age"
        />
        <span
          class="small"
          *ngIf="!signupForm.get('age').valid && signupForm.get('age').touched"
          >Please enter a valid Age</span
        >
      </div>
    </div>

    <!-- Gender -->
    <div class="row">
      <div class="form-group p-2">
        <label for="gender">Gender</label>
        <div class="radio" *ngFor="let gender of genders">
          <label for="">
            <input type="radio" [value]="gender" formControlName="gender" />
            {{ gender }}
          </label>
        </div>
        <span class="small" *ngIf="!signupForm.valid && signupForm.touched"
          >Please enter a valid data</span
        >
      </div>
    </div>

    <!-- Submit Button -->
    <button class="btn btn-primary m-2" type="submit">Submit</button>
  </form>
</div>
